body {
  font-family: Helvetica;
  font-size: 1, 375rem;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Navigation */

.nav-container {
  height: 69px;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.company-logo {
  margin-right: auto;
  height: 50px;
  padding-left: 10px;
}

.nav-button {
  display: inline-block;
  text-decoration: underline;
  padding: 10px;
  margin-right: 10px;
}

/* Mission */

.mission-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission-img {
  background-image: url('../images/img-mission-background.jpeg');
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  align-items: center;
  display: flex;
}

.mission-text {
  background-color: black;
  width: 100%;
  text-align: center;
  align-content: center;
}

/* Tea of the Month */

.tea-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tea-text {
  width: 1000px;
  align-content: center;
  text-align: center;
}
