* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-size: 1, 375rem;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

h1,
h2,
h4 {
  text-align: center;
}

.nav__container {
  height: 69px;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}

.company-logo {
  margin-right: auto;
  height: 50px;
  padding-left: 10px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav__list .nav__list-item {
  padding: 0.5rem;
  text-decoration: underline;
}

.nav__list-item a,
.nav__list-item a:hover,
.nav__list-item a:active {
  color: white;
}

.our__mission {
  display: flex;
  align-items: center;
  background: url('../images/img-mission-background.jpeg');
  background-repeat: none;
  background-size: cover;
  margin: auto;
  height: 43.75rem;
  width: 75rem;
  justify-content: center;
  align-content: center;
}

.our__mission h2 {
  margin-bottom: 0px;
}

.our__mission__statement {
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.tea__of__the__month {
  display: flex;
  width: 62.5rem;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.tea__flavor__image {
  width: 18.75rem;
  height: 12.5rem;
  margin: 0.6rem;
}

.location__main {
  background: url('../images/img-locations-background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  width: 75rem;
  margin: auto;
  padding-top: 4rem;
}

.locations__list {
  display: flex;
  padding-top: 1rem;
  justify-content: space-around;
}

.location {
  background-color: rgba(0, 0, 0);
  width: 18.75rem;
  height: 16.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.location__address {
  list-style: none;
  padding: 0;
  text-align: center;
}

.location li {
  padding: 1rem;
  margin: 0;
}

.location__lists {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact {
  height: 12.5rem;
  display: flex;
  background-color: rgba(0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  padding-left: 3rem;
}
